body{
    
    background-color: transparent;
    width: 100%;
    height: 950px;
    padding: 0px;
    margin: 0px;
}
.main{
    background-image: url(../../assets/images/bgpic.jpg);
    background-color: transparent;
    width: 100%;
    height: 950px;
    padding: 0px;
    margin: 0px;
    background-size: cover;
   
}
.about{
    padding-left: 100px;
    width: 600px;
    height: 600px;
    
}
p{
    margin-top: 100px;
}