<div class="main">
    <h1 style="color:blueviolet">About Us</h1>
    <p>Gadgeon is a new-gen technology consultancy and engineering services company enabling customer’s digital journey.
        Gadgeon is dedicated to building solid software systems that creates business value for enterprises. Our
        services include Product engineering, IoT Engineering, Embedded systems – hardware & Firmware, Enterprise
        application – integration & modernization, Full stack development, cloud & Mobile app development, data
        analytics with AI & ML, testing & automation, and Professional services. Gadgeon enables our customers to fully
        focus on high impact business transformation initiatives while the extended team from Gadgeon takes care of all
        engineering and operational activities.

        Gadgeon in the last 10+ years partnered with over 70 customers with successful deployment of more than 170
        projects across USA, Europe, and APAC. Over the years, we have been identified for quality and engineering
        excellence. We serve Enterprises, ISVs, Product companies, and fast growing startups across Digital Healthcare,
        Connected factories, Retail & E-Commerce, Communication, and Home & Building Automation domains.

        Why Gadgeon as your Technology Partner?
        icon
        Domain expertise in Healthcare, Retail-E-commerce, Connected Manufacturing, Smart Home/ Building, and
        Communication

        icon
        Proven engineering and technology expertise in Enterprise software and Product development using the New-Gen
        technologies – Cloud, Mobile, AI & ML, Industrial IoT, CV, and AR icon
        Commitment to quality with ISO 9001:2015 and ISO 13485:2016 certifications.

        icon
        Agile and DevOps – Adoption of Agile and CI/CD pipelines

        icon
        Core engineering company with a culture of constant innovation with outstanding track record.

        icon
        Flexible engagement models and willingness to invest in long term partnerships.

        icon
        Delpheon – Gadgeon’s Industrial IoT solution platform with pre-built, configurable, and scalable components for
        rapid and cost effective development and deployment of business use cases.

        icon
        Embedded Services - End-to-end product engineering services with total ownership of hardware & firmware design,
        development, validation, and manufacturing support.</p>
</div>
