<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="main-container">
  <div class="header">
    <div class="titletag">
      <h1>Gadgeon</h1>
    </div>
  
  <div class="nav-container fluid mainlist">
    
    <ul class="navbar nav one">
      <li class="nav-item"><a routerLink="HOME">HOME</a></li>
      <li class="nav-item"><a routerLink="ABOUT">ABOUT</a></li>
      <li class="nav-item"><a routerLink="CONTACT">CONTACT</a></li>
      <li class="nav-item"><a routerLink="SERVICE">SERVICE</a></li>
      
    </ul>

  </div>
  </div>
</div>

<div class="component-container">
  <router-outlet></router-outlet>
</div>
</body>
</html>
