<div class="main">
    <header>
        <h1 style="color: orange;">Our <span style="color: blue;">Services</span></h1>
        <!-- <hr style="color: blue;">
        <hr style="color: blue;"> -->
        

    </header>
    <div class="one">
        <img src="../../assets/images/s1.jpg" class="img1" alt=""><br><br>
        <h3>Obsolescence Management for IoT</h3>
        <p>One of the leading Smart Home device company in the USA, wanted to replace end-of-life parts on the board of
            their gateway, a critical system in their home.</p>
    </div>
    <div class="two">
        <img src="../../assets/images/s2.jpg" class="img2" alt=""><br><br>
        <h3>Cavium Thunder x Based Server Board</h3>
        <p>Design, testing and productization of a dual CPU based backplane server board based on CN88XX processor.</p>
    </div>
    <div class="three">
        <img src="../../assets/images/s3.jpg" class="img2" alt=""><br><br>
        <h3>IO Module to Monitor and Control Factory Equipments</h3>
        <p>One of the main challenges in factory digitization is collecting different data types from existing, old and
            heterogeneous machines on the factory floor.</p>
    </div>
   

    </div>

