<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <div class="navbar">
        <!-- <h1>Gadgeon</h1> -->
        <!-- <li>
            <ul class="nav">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="#">Services</a>
            </ul>
        </li> -->
    </div>
    <div class="maindiv">
    <div class="firstpic">
        <img src="../../assets/images/gg3.jpg">

    </div>
    <div class="secondpic">
        <img src="../../assets/images/gg2.jpg">

    </div>
    <div class="thirdpic">
        <img src="../../assets/images/ggg1.jpg">
        </div>

    </div>
     <div class="maincon">
    <p >Gadgeon is a new-gen technology consultancy and engineering services company enabling customer’s digital journey.
        Gadgeon is dedicated to building solid software systems that creates business value for enterprises. Our
        services include Product engineering, IoT Engineering, Embedded systems – hardware & Firmware, Enterprise
        application – integration & modernization, Full stack development, cloud & Mobile app development, data
        analytics with AI & ML, testing & automation, and Professional services. Gadgeon enables our customers to fully
        focus on high impact business transformation initiatives while the extended team from Gadgeon takes care of all
        engineering and operational activities.</p>

        </div>
       

</body>

</html>